@font-face{
    src: url(Kanit-Black.ttf);
    font-family: KanitBlack;
}
body{
    background-image: url(ft.jpg);
    border-bottom:#FFFFFF solid 3px;
    margin: 20px;
}
h1{
    color: rgb(255, 255, 255);
    font-family: verdana;
    font-style:bold;
    font-size: 35px;
    border: 4px white solid;
    border-radius:10px;
    text-shadow: 2px 2px 5px #e0e0e0;
    text-align: center;
}
p{
    font-family:Arial;
    font-size:25px;
    color:#FFFFFF;
    text-align: center;
}
#div{background-image: url(purple.png) ;
    border: #000000 10px solid;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    background-position: center;
    background-size: cover;
    font-family: Arial;
    font-size: 15px;
    overflow: auto;
    height: 350px;
}
#h2{
    font-family: KanitBlack;
    font-size: 25px;
}
#button{
    font-style: bold;
    font-size:50px;
    font-family: Arial;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
    border-radius: 20px;
    color: #FFFFFF;
    background-color: black;
    height: 100px;
}
#button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    cursor: pointer
  }
#Ft{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 25%;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }
#h2{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    color: #FFFFFF;
    font-size: 30px;
}
footer{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}
#h1{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#buttons{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;

}
.submit:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    cursor: pointer
  }
#vd{
    width: 300px;
    height: 240px;
    float: left;
    margin-right: 20px;
}
#p1{
    text-align: center;
}
input{
    background: transparent;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    padding: 3px;
    margin: 3px;
}
::placeholder{
    color: rgb(92, 92, 92);
}
.submit{
    border-radius: 13px;
    border: 5px;
    width: 100px;
    height: 40px;
    background-color: black;
    color: #FFFFFF;
    border: 2px solid white;
}
select{
    background: transparent;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
}
a{
    text-decoration: none;
}
#p1{
    font-size: 19px;
}
input:focus{
    outline: none;
    box-shadow: 0 0 0 2px rgb(0, 0, 0);
  }
#div::-webkit-scrollbar-track{
    background: #6a116d;
  }
#div::-webkit-scrollbar{
    width: 13px;
  }
#div::-webkit-scrollbar-thumb{
    background: #3f025c;
    border: #2e0144 3px solid;
    border-radius: 15px;
  }
#div::-webkit-scrollbar-thumb:hover{
    background: #250136;
  }
html::-webkit-scrollbar-track{
    background: #812285;
  }
html::-webkit-scrollbar{
    width: 20px;
  }
html::-webkit-scrollbar-thumb{
    background: #3f025c;
    border: #2e0144 3px solid;
    border-radius: 15px;
  }
html::-webkit-scrollbar-thumb:hover{
    background: #250136;
  }
/*na sero vdolce w fortnite*/
